.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: #8FE8DF;
}

.st2 {
  fill: #FFFFFF;
}

svg:hover .st0, svg:hover .st2 {
  fill: #8FE8DF;
}

svg:hover .st0 {
  stroke: #FFFFFF;
}

svg:hover .st1 {
  fill: #FFFFFF;
}

.coffeemidsmoke-cls-1 {
  fill: none;
}

.coffeemidsmoke-cls-2 {
  clip-path: url(#clip-path);
}

.coffeemidsmoke-cls-3 {
  fill: #ededed;
}

.clipboardswirls-st0 {
  fill: #9DEBE3;
}

.clipboardswirls-st1 {
  fill: #5DAFB0;
}